#contact {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    border: 3px solid cyan;
    border-radius: 15px;

}


button a {
    /* font-weight: bolder; */
    color: black;
    text-decoration: none;
  }

  .social {
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
  }

  .qqq {
      margin: 6px;
      align-items: center;
  }

  h7 {
      margin-bottom: 15px;
  }
