h2 {
  text-align: center;
  background-color: aqua;
  border-radius: 10px;
}

h3 {
  text-align: center;
}


.portrait {
  margin-top: 25px;
  border-radius: 20px;
}

.aboutContents {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

p { 
  /* margin-top: 15px; */
  text-align: center;
  width: 500px;
  padding: 15px;
  border-radius: 20px;
  margin-top: 25px;
}


h4 {
  text-align: center;
}




footer {
  margin-top: 300px;
  background-color: aqua;
}

.body-card {
  width: auto;
  background-color: lightgreen;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span.navbar-brand {
  font-size: 50px;
  font-family: "Bellerose", sans-serif;
}

.nav-link {
  font-size: 25px;
  font-family: "Bellerose", sans-serif;
}

.nav-link::before {
  content: " ";
}

.navbar-light .navbar-nav a.nav-link.active {
  color: #0d6efd;
}

.navbar-light .navbar-nav a.nav-link:hover {
  color: #0d6efd;
}